/* Для каждого css одинаково */

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

body {
    background-color: #658AAE;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Новый шрифт */

@font-face {
	font-family: 'OwnHand';
    src: url("../fonts/OwnHand.eot");
    src: url("../fonts/OwnHand.eot?#ieflix") format(embedded-opentype),
    url("../fonts/OwnHand.woff") format(woff),
    url("../fonts/OwnHand.ttf") format(truetype);
    font-style: normal;
    font-weight: normal;
}

.back-main {
    flex: 1 0 auto;
}

.main {
    height: 100%;
    margin-right: 10%;
    margin-left: 10%;

    background-color: #8bbbc5;
    box-shadow: 0 0 50px 50px #8bbbc5;
}





/* Классы внутри main */

.title {
    background-image: url('../img/titles/studio.png');
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    min-height: 300px;
    height: 10vh; 
    margin: 0 auto;
}




    /* Описание */
.sur-title {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-image:
        linear-gradient(rgb(213, 200, 179), rgb(180, 163, 136)),
        linear-gradient(to bottom right, transparent 50.5%, rgb(213, 200, 179) 50.5%),
        linear-gradient(to bottom left, transparent 50.5%, rgb(213, 200, 179) 50.5%),
        linear-gradient(to top right, transparent 50.5%, rgb(180, 163, 136) 50.5%),
        linear-gradient(to top left, transparent 50.5%, rgb(180, 163, 136) 50.5%);

        
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
    background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;

    border-radius: 30px;

    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 2%;
}

.sur-text {
    padding: 5%; /* 70px */
    padding-top: 3.8%; /* 40px */
    
    max-width: 100%;
    font-family: 'OwnHand';
    font-size: 30px;
    text-align: center;

    display: block;
    color: #2C3E50 ;
}

.btn-room-table {
    background-color: rgb(228, 227, 227);
    padding: 8px;
    border-radius: 30px;

    margin: 0 auto;
    margin-top: 15px;
    max-width: 1280px;
    max-height: 1280px;
    
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
}


.btn-left, .btn-right {

    border: 30px solid transparent;
    
    display: inline-flex;
    cursor: pointer; 

    margin: 10px;
}
    
.btn-left {
    border-right: 30px solid #4d6d8d; 
    border-left: none; 
}
    
.btn-right { 
    border-left: 30px solid #4d6d8d;
    border-right: none;
}

.btn-left:hover {
    border-right: 30px solid #2C3E50;
}

.btn-right:hover {
    border-left: 30px solid #2C3E50;
}

.room {
    background-color: #424242;
    background-image: url('../img/studio/rooms/holl.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;

    
    text-align: center;

    display: flex;
    margin: 0px;

    overflow: hidden;
}


.first, .second {
    background: none;
    border: none;

    margin: 5px;
    
    cursor: pointer;
}

.first {
    width: 15%; /* кнопка будет занимать 100% ширины родительского контейнера */
    height: 0; /* начальная высота 0, чтобы сохранить соотношение сторон фона */
    padding-bottom: 32%; /* задайте отступ снизу в процентах, чтобы установить высоту кнопки */
    background-image: url('../img/studio/charactersRooms/hollChel1.png');
    background-size: cover;
    background-position: center;

    position: absolute;
    left: 30%;
    top: 50%;
}

.second {

    width: 28.1%; /* кнопка будет занимать 100% ширины родительского контейнера */
    height: 0; /* начальная высота 0, чтобы сохранить соотношение сторон фона */
    padding-bottom: 40%; /* задайте отступ снизу в процентах, чтобы установить высоту кнопки */
    background-image: url('../img/studio/charactersRooms/hollChel2.png'); 
    background-size: cover;
    background-position: center;

    position: absolute;
    right: 20%;
    top: 42%;

}


@media (max-width: 500px) {
    .btn-room-table {
        
        max-height: 300px;
    }

    .first, .second {
        max-width: 100px;
        max-height: 55vh;
    }


}





.gui {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'OwnHand';
    color: #2C3E50;
}





/* Книга для навигации */
.navigation {
    background-image: url('../img/navigation/book.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    max-width: 1024px;

    max-height: 768px;
    width: 100%;
    height: 100vh;


    margin: 0 auto;

    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    
    position: relative;

    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 500px) {
    .navigation {
        max-height: 200px;
    }
}

    /* Разделение книги на два раздела */
.navigation-leftList, .navigation-rightList {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    flex: 1; 
}

    /* Добавление кнопок и добавление анимаций при наведении к ним */
.btnGeneration, .btnMain, .btnHistory {
    position: absolute;
    transition: background-image 0.1ms ease-in-out;
    cursor: pointer;
}


.btnMain {
    background: none;

    background-image: url('../img/navigation/root.png');
    width: 20vw;
    max-width: 365px;
    min-height: 90px;

    flex: 1;

    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;

    position: relative;
    left: 50px;
    bottom: 20px;

    margin: 5px; 
    outline: none; 
    border: 0;
}

@keyframes rootAnimation {
    0% { background-image: url('../img/navigation/anim/root/root1.png'); }
    33% { background-image: url('../img/navigation/anim/root/root2.png'); }
    66% { background-image: url('../img/navigation/anim/root/root3.png'); }
    100% { background-image: url('../img/navigation/anim/root/root1.png'); }
}

.btnMain:hover {
    animation: rootAnimation 0.5s steps(3) infinite;
}



.btnHistory {
    background: none;

    background-image: url('../img/navigation/history.png');
    width: 20vw;
    max-width: 400px;
    min-height: 90px;

    flex: 1;

    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;

    position: relative;
    right: 25px;
    top: 10px;

    margin: 5px; 
    outline: none; 
    border: 0;
}

@keyframes historyAnimation {
    0% { background-image: url('../img/navigation/anim/history/history1.png'); }
    33% { background-image: url('../img/navigation/anim/history/history2.png'); }
    66% { background-image: url('../img/navigation/anim/history/history3.png'); }
    100% { background-image: url('../img/navigation/anim/history/history1.png'); }
}

.btnHistory:hover {
    animation: historyAnimation 0.5s steps(3) infinite;
}



.btnGeneration {
    background: none;

    background-image: url('../img/navigation/generation.png');
    width: 30vw;
    max-width: 500px;
    min-height: 90px;

    flex: 1;

    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;

    position: relative;
    right: 30px;
    bottom: 30px;

    margin: 5px; 
    outline: none; 
    border: 0;
}

@keyframes generationAnimation {
    0% { background-image: url('../img/navigation/anim/generation/generation1.png'); }
    33% { background-image: url('../img/navigation/anim/generation/generation2.png'); }
    66% { background-image: url('../img/navigation/anim/generation/generation3.png'); }
    100% { background-image: url('../img/navigation/anim/generation/generation1.png'); }
}

.btnGeneration:hover {
    animation: generationAnimation 0.5s steps(3) infinite;
}

@media (max-width: 500px) {
    .btnMain {
        position: relative;
        left: 30px;
        bottom: 5px;
    } 

    .btnGeneration {
        position: relative;
        right: 28px;
        bottom: -20px;
    } 

    .btnHistory {
        position: relative;
        right: 25px;
        top: -40px;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 0;
    max-width: 1290px;

    
}




/* Авторы проекта */
.authors {
    background-color: rgb(58, 68, 80);
    flex: 0 0 auto;
    text-align: center;

    color: rgb(190, 190, 190);
    font-family: 'OwnHand', sans-serif;
    font-size: 18px;
}


.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    display: none;
  }
  
  .modal__main {
    position: relative;
    max-width: 700px;
    background-color: #fff;
    margin: auto;
    color: #000;
    font-family: 'OwnHand';
    border-radius: 16px;
    padding: 30px 60px 60px;
    cursor: default;
  }

@media (max-width: 500px) {
    .modal {
        padding: 10px;
    }

    .modal__main {
        padding: 0;
        padding-left: 5px;
        padding-right: 70px;
        max-width: 330px;
    }
}
  
  .modal__title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
  }
  
  .modal__container {
    font-size: 30px;
    margin-bottom: 30px;
  }

  
  .modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
  }
  
  .modal__close:focus-visible {
    outline-color: green;
  }


@media (max-width: 500px) {
    .discription, .opinion, .ago, .did, .especialy, .role {
        max-width: 200px;
    }
}